<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SupervisorGPT</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">SupervisorGPT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
      <form class="form-inline my-2 my-lg-0">
        <a href="{% url 'account_login' %}" class="btn btn-outline-success my-2 my-sm-0 mr-2">Sign In</a>
      </form>
    </nav>
    <div class="container mt-5">
      <h1 class="text-center">Welcome to SupervisorGPT</h1>
      
      <div class="container my-5">
        <div class="row">
          <div class="col-sm-4">
            <div class="card bg-light mb-3">
              <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-home"></i> Free Plan</div>
              <div class="card-body">
                <h5 class="card-title">$0.00/month</h5>
                <p class="card-text">
                  1. Homework Assistance<br>
                  2. Research Article Title Writer
                </p>
              </div>
              <div class="card-footer">
                <a href="{% url 'socialaccount_signup' provider='google' %}" class="btn btn-primary btn-block">Sign Up</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light mb-3">
              <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-calendar"></i> Basic Plan</div>
              <div class="card-body">
                <h5 class="card-title">$20.00/month</h5>
                <p class="card-text">
                  1. Homework Assistance<br>
                  2. Research Article Title + Abstract Writer<br>
                  3. Conferences and Events
                </p>
              </div>
              <div class="card-footer">
                <a href="{% url 'socialaccount_signup' provider='google' %}" class="btn btn-primary btn-block">Sign Up</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light mb-3">
              <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-rocket"></i> Premium Plan</div>
              <div class="card-body">
                <h5 class="card-title">$50.00/month</h5>
                <p class="card-text">
                  1. Homework Assistance<br>
                  2. Full IEEE Research Article writer<br>
                  3. Conferences and Events<br>
                  4. Upskilling Courses & Study Plan
                  5. Interview training and Job openings
                </p>
              </div>
              <div class="card-footer">
                <a href="{% url 'socialaccount_signup' provider='google' %}" class="btn btn-primary btn-block">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
            
    </div>
    <footer class="bg-dark py-3" style="
      position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
    ">
      <div class="container text-center text-white">
        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> SupervisorGPT </p>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39
